= render(:partial => "shared/page_top", :locals => {:ffname => __FILE__})

This Facebook application was built using Ruby on Rails and the Facebook Platform:
%br/
%a(target= "w" href= "http://en.wikipedia.org/wiki/Ruby_on_rails")http://en.wikipedia.org/wiki/Ruby_on_rails
%br/
%a(target= "w" href= "http://en.wikipedia.org/wiki/Facebook_Platform")http://en.wikipedia.org/wiki/Facebook_Platform
%br/
%a(target= "w" href= "http://www.google.com/search?q=facebook+platform+site:facebook.com")http://www.google.com/search?q=facebook+platform+site:facebook.com
%hr/
Since this application is targeted towards software developers, it might be appropriate to have a link to "hello world" on the home page:
%br/
%a(href="#{@application_base_url}/hello/world" target="_top")="#{@application_base_url}/hello/world"
%br/
%br/
If you develop Facebook applications you often need to ask your end-users for permissions after they "allow access".
The link below is a simple demonstration of asking for some permissions.  It you want to see how it actually behaves, perhaps you should do it from a test account rather than your real account:
%br/
%a(href="#{@application_base_url}/hello/permissions" target="_top")="#{@application_base_url}/hello/permissions"
%hr/
If you see some gray-links at the bottom of this page they were placed there by the following plugin:
%br/
%a(href= "http://github.com/josevalim/rails-footnotes" target= "g")http://github.com/josevalim/rails-footnotes
%br/
Information about Rails Footnotes as they are installed here:
%br/
.gitlink
  %a(href= "http://github.com/bikle/facebook_iframe/blob/master/config/environments/development.rb" target= "g")
    http://github.com/bikle/facebook_iframe/blob/master/config/environments/development.rb
  %br/
  %a(href= "http://github.com/bikle/facebook_iframe/tree/master/vendor/gems/rails-footnotes-3.6.6/" target= "g")
    http://github.com/bikle/facebook_iframe/tree/master/vendor/gems/rails-footnotes-3.6.6/


