%h1 app/views/hello/index.haml
%hr/
%a(href="#{@application_base_url}/hello/index" target="t2")
  ="#{@application_base_url}/hello/index"
  (You are looking at it)
%br/
%br/
%a(href="#{@application_base_url}/hello/world" target="t2")="#{@application_base_url}/hello/world"
%br/
%br/
%a(href="#{@application_base_url}/hello/permissions" target="t2")="#{@application_base_url}/hello/permissions"
%br/
%br/
%a(href="#{@application_base_url}/hello/jquery_accordian" target="t2")="#{@application_base_url}/hello/jquery_accordian"
%br/
%br/
:javascript
  $(document).ready(function() {
    $("a#debug_facebook_session").click(function() {
      $('#debug_facebook_session_div').toggle();
    });
  })
%a(href="#content" id="debug_facebook_session")jQuery toggle of: debug @facebook_session
#debug_facebook_session_div(style="display: none;")
  = debug @facebook_session.user.friends
%br/
%br/
%br/
%br/
%br/
%hr/


