%h1 app/views/hello/index.haml
%hr/
%a(href="#{@application_base_url}/hello/index" target="t2")
  ="#{@application_base_url}/hello/index"
  (You are looking at it)
%br/
%br/
%a(href="#{@application_base_url}/hello/world" target="t2")="#{@application_base_url}/hello/world"
%br/
%br/
%a(href="#{@application_base_url}/hello/permissions" target="t2")="#{@application_base_url}/hello/permissions"
%br/
%br/
%a(href="#{@application_base_url}/hello/jquery_accordian" target="t2")="#{@application_base_url}/hello/jquery_accordian"
%br/
%br/
=render :partial => "jq_toggle_fbssn"
%br/
%br/
=render :partial => "jq_toggle_fbssnu"
%br/
%br/
%br/
%hr/


