%h1 app/views/hello/index.haml
%hr/
%a(href="#{@application_base_url}/hello/world" target="_top")="#{@application_base_url}/hello/world"
%br/
%br/
%a(href="#{@application_base_url}/hello/permissions" target="_top")="#{@application_base_url}/hello/permissions"
%br/
%br/
%a(href="#{@application_base_url}/hello/jquery_accordian" target="_top")="#{@application_base_url}/hello/jquery_accordian"
%br/
// jQuery toggle of: debug @facebook_session
=render :partial => "jq_toggle_fbssn"
%br/
%br/
// jQuery toggle of: debug @facebook_session.user
=render :partial => "jq_toggle_fbssnu"
%br/
%br/
%hr/


