%h1 index.haml
%hr/
%a(href="#{@application_base_url}/hello/index" target="t2")
  ="#{@application_base_url}/hello/index"
  (You are looking at it)
%br/
%br/
%a(href="#{@application_base_url}/hello/world" target="t2")="#{@application_base_url}/hello/world"
%br/
%br/
%a(href="#{@application_base_url}/hello/jquery_accordian" target="t2")="#{@application_base_url}/hello/jquery_accordian"
%hr/

