= render(:partial => "shared/page_top", :locals => {:ffname => __FILE__})

Demonstrations of Facebook Query Language (FQL)
%hr/
Useful information:
%a(href="http://www.google.com/search?q=fql" target="g")http://www.google.com/search?q=fql
%br/
%br/
%a(href="#{@application_base_url}/fql/uuser" target="_top")="#{@application_base_url}/fql/uuser"
%br/
%a(href="#{@application_base_url}/fql/ffriend" target="_top")="#{@application_base_url}/fql/ffriend"
%br/
%a(href="#{@application_base_url}/fql/ppage" target="_top")="#{@application_base_url}/fql/ppage"
%br/
