- fname= ffname.sub(/^.+\/app\/views\//,'')
- myhref= "#{@application_base_url}/#{fname}".sub(/.haml/,'')
-gitlink= "http://github.com/bikle/facebook_iframe/blob/master/app/views/#{fname}"
.gitlink
  %a(href= "#{gitlink}" target= "g")=gitlink
%a(href= "#{myhref}" target= "_top")
  %h2="app/views/#{fname}"
