!!! Strict

%html{html_attrs('en-US'), 'xmlns:fb' => "http://www.facebook.com/2008/fbml"}
  %head
    %link(href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css")
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript")
    %script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js" type="text/javascript")
  %body
    =render :partial => "shared/some_css"
    #div4yield
      %hr/
      %a(target="g" href="http://github.com/bikle/facebook_iframe")Bikle Facebook IFrame Demo
      %br/
      %a(target="_top" href="#{@application_base_url}/hello/index") app/views/hello/index.haml
      (For some browsers, set scrollbars:
      - if @scrollbar== false
        %a(target="_top" href="#{@application_base_url}/hello/index?scrollbar=on") On
      - else
        %a(target="_top" href="#{@application_base_url}/hello/index?scrollbar=off") Off
      )
      %br/
      %a(target="_top" href="#{@application_base_url}/misc/index") app/views/misc/index.haml
      %br/
      %a(target="_top" href="#{@application_base_url}/fbml/index") app/views/fbml/index.haml
      %br/
      %a(target="_top" href="#{@application_base_url}/fql/index") app/views/fql/index.haml
      %hr/
      = yield
    %script(src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US" type="text/javascript")
    %script(type="text/javascript")
      window.onload = function () {
      FB_RequireFeatures(
      ["XFBML"], 
      function(){ 
      FB.Facebook.init("#{Facebooker::AdapterBase.facebooker_config['api_key']}", "/xd_receiver.htm");
      });
      - if @scrollbar== false
        FB_RequireFeatures(
        ["CanvasUtil"],
        function(){
        FB.XdComm.Server.init("/xd_receiver.htm");
        FB.CanvasClient.startTimerToSizeToContent();
        });
      }
